<% provide(:title, "关于我") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>关于我</strong></h1>
  </div>
  <div class="panel-body">
    <p>
      扬帆社区，取自“同舟共济扬帆起，乘风破浪万里航”之意。一个集交友、应聘、项目发布为一体的社区。
      <br/>
      Github: https://github.com/Kerzzi/Now_Voyager
    </p>
    <h2><strong>网站功能</strong></h2>
    <div class="help-box">
      <ul>
        <li>用户可以发布项目，其他用户可以申请加入项目、对项目发表评论。</li>
        <li>项目管理员可以编辑、删除自己创建的项目。</li>
        <li>网站管理员可以删除用户、隐藏或公开项目。</li>
        <li>微博系统，用户间可以互相关注，发布微博（可带图片），朋友圈以动态流展示微博。</li>
      </ul>
    </div>

    <h2><strong>测试账号</strong></h2>
    <div class="help-box">
      <li>Admin账号: admin@kerzzi.com</li>
      <li>普通账号： test1@kerzzi.com</li>
      <li>普通账号： test2@kerzzi.com</li>
      <li>普通账号： test3@kerzzi.com</li>
      <li>普通账号： test4@kerzzi.com</li>
      <li>普通账号： test5@kerzzi.com</li>
      <li>普通账号： test6@kerzzi.com</li>
      <li>普通账号： test7@kerzzi.com</li>
      <li>密码均为123456</li>
    </div>


    <h2><strong>其他</strong></h2>
    <div class="help-box">
      <li>目前邮箱接收账号激活邮件后，点击没有效果，原因未知，请暂时使用测试账号，谢谢！</li>
    </div>

    <h2><strong>联系我</strong></h2>
    <div class="help-box">
      <li>
        <strong>我的邮箱：</strong>
        <a href="mailto:#">kerzzi@outlook.com</a>
      </li>
    </div>
  </div>
</div>
