<% provide(:title, "项目展示") %>

<h1> <%= @job.title %> </h1>

<p>
  <%= simple_format(@job.description) %>
</p>

<%= link_to('<span class="glyphicon glyphicon-gift">申请加入'.html_safe,
            new_job_resume_path(@job), class: "btn btn-magick btn-lg btn3d pull-left")%>
<%= link_to('<span class="glyphicon glyphicon-cloud">发表评论'.html_safe,
          new_job_post_path(@job), class: "btn btn-info btn-lg btn3d pull-right")%>
</hr>
