<% provide(:title, '伙伴') %>
<h1>人才库</h1>

<div class="text-center">
    <%= will_paginate %>
<div class="text-center">

  <ul class="users">
    <%= render @users %>
  </ul>


<div class="text-center">
    <%= will_paginate %>
<div class="text-center">
