<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="text-center">
    <%= will_paginate %>
<div class="text-center">

  <ul class="users">
    <%= render @users %>
  </ul>

<div class="text-center">
    <%= will_paginate %>
<div class="text-center">
