<h2 class="text-center">新增评论</h2>


  <%= simple_form_for [@job,@post] do |f| %>
    <div class="form-job">
      <%= f.input :content, input_html: { class: "form-control"} %>
    </div>
    <div class="form-actions">
      <%= f.submit "发布评论", disable_with: "Submiting...", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
