<footer class="footer">
  <small>
    Copyright © 2017, Now Voyager. Design by Kerzzi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://kerzzi.logdown.com/">News</a></li>
    </ul>
  </nav>
</footer>
