<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Theme Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= render 'layouts/shim' %>
  <!-- CSS文件 -->
    <style>

    /* header */

    #logo {
      float: left;
      margin-right: 10px;
      font-size: 1.7em;
      color: white;
      // text-transform: uppercase;
      letter-spacing: -1px;
      padding-top: 9px;
      font-weight: bold;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    /* footer */
    footer {
      margin-top: 45px;
      font-size: 20px;
      border-top: 1px solid $gray-medium-light;
      color: $gray-light;
      a {
        color: $gray;
        &:hover {
          color: $gray-darker;
        }
      }
      small {
        float: left;
      }
      ul {
        float: right;
        list-style: none;
        li {
          float: left;
          margin-left: 15px;
        }
      }
    }

      /*Add Form*/

      .jumbotron {
          background-color: #f4511e;
          color: #fff;
          padding: 100px 25px;
      }

      /*Add Padding*/

      .container-fluid {
          padding: 60px 50px;
      }
      /*Add Containers*/

      .bg-grey {
          background-color: #f6f6f6;
      }

      /*Add a Grid*/

      .logo {
          font-size: 200px;
      }
      @media screen and (max-width: 768px) {
          .col-sm-4 {
              text-align: center;
              margin: 25px 0;
          }
      }

      /*Styling Icons：Add an orange color to all icons and set the font-size */
      .logo-small {
          color: #f4511e;
          font-size: 50px;
      }

      .logo {
          color: #f4511e;
          font-size: 200px;
      }

      /*Styling Thumbnail Images
      Use CSS to style the images. In our example,
      we have tried to make them look like cards, by removing their border,
      and set a 100% width on each image.*/

      .thumbnail {
          padding: 0 0 15px 0;
          border: none;
          border-radius: 0;
      }

      .thumbnail img {
          width: 100%;
          height: 100%;
          margin-bottom: 10px;
      }

      /*Style The Carousel*/
      .carousel-control.right, .carousel-control.left {
          background-image: none;
          color: #f4511e;
      }

      .carousel-indicators li {
          border-color: #f4511e;
      }

      .carousel-indicators li.active {
          background-color: #f4511e;
      }

      .item h4 {
          font-size: 19px;
          line-height: 1.375em;
          font-weight: 400;
          font-style: italic;
          margin: 70px 0;
      }

      .item span {
          font-style: normal;
      }

      /*Styling Panels*/

      .panel {
          border: 1px solid #f4511e;
          border-radius:0;
          transition: box-shadow 0.5s;
      }

      .panel:hover {
          box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }

      .panel-footer .btn:hover {
          border: 1px solid #f4511e;
          background-color: #fff !important;
          color: #f4511e;
      }

      .panel-heading {
          color: #fff !important;
          background-color: #f4511e !important;
          padding: 25px;
          border-bottom: 1px solid transparent;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
      }

      .panel-footer {
          background-color: #fff !important;
      }

      .panel-footer h3 {
          font-size: 32px;
      }

      .panel-footer h4 {
          color: #aaa;
          font-size: 14px;
      }

      .panel-footer .btn {
          margin: 15px 0;
          background-color: #f4511e;
          color: #fff;
      }

      /*Add a Footer*/

      footer .glyphicon {
          font-size: 20px;
          margin-bottom: 20px;
          color: #f4511e;
      }

    </style>

</head>
<body>
    <%= render 'layouts/header' %>
    <%= yield %>



    <%= debug(params) if Rails.env.development? %>

</body>
</html>
